@import "_variables";
@import "_mixins";

/* MAX 964px */

@media (max-width: 964px) {
  .about {
    padding-top: 83px;
    align-items: flex-start;

    &__header {
      h1 {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 3rem;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: inherit;
      }
    }

    &__person {
      margin-top: 20px;
      &-img {
        border: 4px solid #fff;
        border-radius: 50%;
        width: 100px;
      }
      &::after {
        left: 3px;
        top: 3px;
        border: 4px solid $darkBlue;
        max-width: 86px;
        max-height: 86px;
      }
    }

    &__description {
      max-width: 100%;
    }
  }

  .contact {
    padding: 63px;
    flex-direction: column;
    &__box {
      max-width: 80vw;
      margin-bottom: 36px;
    }
    &__paragraph {
      max-width: 100%;
    }
    &__icons {
      margin-bottom: 12px;
    }
  }

  .form {
    padding: 0;
    margin: 0 auto;
    min-height: 150px;
    height: 100%;
    max-width: 80vw;
    align-items: center;
    &__message {
      min-height: 200px;
      height: 100%;
    }
  }

  .navigation {
    height: 45px;
    &__list {
      padding: 0 30px;
    }
    &__item {
      min-width: 120px;
      font-size: 1.1rem;
    }
  }

  .skills {
    &__container {
      padding: 63px;
    }
    &__list {
      column-gap: 20px;
      list-style: none;
      width: 100%;
    }
    &__section {
      flex-direction: column;
    }
    &__subheader {
      font-size: 1.75rem;
      margin-bottom: 16px;
      width: 100%;
    }
  }

  .projects {
    padding: 63px;
    &__about {
      max-width: 100%;
    }
  }

  .repos {
    grid-template-columns: 1fr;
  }
}

/* MAX 640px */

@media (max-width: 640px) {
  .about {
    padding: 0 30px;
    align-items: flex-start;
    &__content {
      align-items: center;
    }
    &__box-person {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__header {
      line-height: 2.5rem;
      text-align: center;
      h1 {
        font-weight: 400;
        font-size: 2.5rem;
      }
    }
    &__person {
      margin-right: 0;
    }
    &__description {
      margin: 0 0 2rem;
      font-size: 1.25rem;
      text-align: center;
      &--bigger {
        font-size: 1.5rem;
        margin: 20px 0 0;
      }
    }
    &__email {
      font-size: 1.25rem;
    }
  }

  .hamburger {
    display: block;
    position: fixed;
    margin: 14px 0 0 12px;
    padding: 0;
    border: 0;
    z-index: 10;
    background: transparent;
    cursor: pointer;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 2px 2px #51a7e8;
      }
    }
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $green;
    }

    &__bars {
      position: absolute;
      height: 4px;
      width: 25px;
      background: $darkBlue;
      border-radius: 2px;
      transition: transform 0.2s ease-in-out, background 1s ease-in-out;
      &::before, &::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 4px;
        background-color: $darkBlue;
        border-radius: 2px;
        content: "";
      }
      &::before {
        top: -8px;
        transition: top 0.1s 0.2s ease-in, transform 0.2s ease-in-out, background 1s ease-in-out;
      }
      &::after {
        bottom: -8px;
        transition: bottom 0.1s 0.2s ease-in, transform 0.2s ease-in-out, background 1s ease-in-out;
      }
    }

    &--active {
      .hamburger__bars {
        background: white;
        transform: rotate(225deg);
        transition: transform 0.2s 0.1s ease-in-out, background 1s ease-in-out;

        &::before {
          background: white;
          top: 0;
          transition: top 0.1s ease-out, background 1s ease-in-out;
        }
        &::after {
          background: white;
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.1s ease-out, transform 0.2s 0.2s ease-in-out, background 1s ease-in-out;
        }
      }
    }
  }

  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }

  .navigation {
    background: $green;
    opacity: 0.9;
    max-width: 50vw;
    min-width: 220px;
    width: 100%;
    height: 60vh;
    border-radius: 0 0 100% 0;
    left: -120%;
    transition: left 0.8s ease-in-out;
    &--active {
      left: 0;
      transition: left 0.8s ease-in-out;
    }
    &__list {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 65px;
    }

    &__item {
      height: 20%;
      width: 50%;
      &:hover {
        background: transparent;
      }
      &:hover::before {
        background: none;
      }
      &:hover::after {
        background: none;
      }
    }

    &__link {
      justify-content: flex-start;
      &:hover {
        color: $darkBlue;
        font-weight: 600;
      }
    }
  }

  .contact {
    &__header {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      &::before {
        width: 50px;
      }
    }
    &__email {
      font-size: 1.25rem;
    }
  }

  .main {
    border: none;
  }

  .skills {
    &__container {
      grid-row-gap: 86px;
    }
    &__header {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    &__subheader {
      font-size: 1.75rem;
      &::before {
        width: 40px;
        top: -8px;
      }
    }
    &__list {
      columns: 1;
    }
    &__item {
      line-height: 2.25rem;
      padding-left: 32px;
      &::before {
        left: 0;
      }
    }
  }

  .projects {
    &__header {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    &__about {
      text-align: center;
      line-height: 2rem;
      color: $darkGrey;
      margin-bottom: 2rem;
    }
  }

  .repos {
    &__description--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    &__item--js {
      padding: 88px 32px;
      &::before {
        width: 40px;
        height: 40px;
        top: 32px;
      }
    }
    &__links--js {
      padding: 10px 32px;
    }
    &__title--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

/* MAX 440px */

@media (max-width: 440px) {
  .about {
    padding: 0 8px;
    align-items: flex-start;
    &__header {
      line-height: 1.8rem;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    &__email {
      font-size: 1.05rem;
    }
  }

  .contact {
    padding: 30px 10px;
    &__header {
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 2.25rem;
      &::before {
        width: 50px;
        height: 3.5px;
        top: -14px;
      }
    }
    &__paragraph {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-top: 14px;
    }
    &__email {
      font-size: 1.1rem;
    }
  }

  .form {
    max-width: 100%;
    &__submit {
      width: 100px;
      height: 2rem;
      padding: 0;
    }
  }

  .skills {
    &__header {
      font-size: 1.7rem;
    }
    &__subheader {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-right: 0;
    }
    &__container {
      padding: 30px 10px;
      grid-row-gap: 60px;
    }
    &__section {
      padding: 0 20px;
    }
  }

  .projects {
    padding: 30px 10px;
    &__header {
      font-size: 1.7rem;
    }
    &__about {
      font-size: 1.125rem;
      line-height: 1.7rem;
    }
  }

  .repos {
    &__item--js {
      padding: 80px 28px;
      &::before {
        top: 22px;
      }
    }
    &__link--js {
      font-weight: 400;
      font-size: 1rem;
    }
    &__title--js {
      font-weight: 500;
      font-size: 1.25rem;
    }
    &__description--js {
      font-size: 1.2rem;
    }
  }
}

/* To look good on very small screens */

@media (max-height: 615px) and(max-width: 305px) {
  .about {
    &__header {
      line-height: 1.5rem;
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    &__description {
      margin-bottom: 6px;
      line-height: 1.7rem;
      &--bigger {
        font-size: 1.2rem;
        margin: 20px 0 0;
      }
    }
    &__email {
      font-size: 1.1rem;
    }
  }
}
