@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@mixin fontLight {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 2rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, monospace, Arial;
  color: #171F3F;
  
}
h1, h2, h3 {
  margin: 0;
}

.main {
  background: $darkBlue;
  border: 16px solid #171F3F;
  min-width: 300px;
  // border-top: none;
  display: grid;
  grid-template-areas:
    "about"
    "skills"
    "projects"
    "contact";
}


/* ABOUT */

.about {
  background: url("../assets/img/about-background.jpg") bottom left / cover no-repeat;
  grid-area: about;
  color: #FFF;
  width: 100%;
  height: 100vh;
  padding: 148px 126px 10px;
  // padding-top: 148px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #42302280;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.79);
  }
  &__content {
    @include fontLight;
    position: relative;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 1;
  }
  &__box-person {
    // width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header {
    // position: absolute;
    left: 205px;
    top: 25px;
    font-family: Raleway, monospace, Arial;
    line-height: 3.5rem;
    h1 {
      font-weight: 400;
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: inherit;
    }
  }
  &__email {
    @include fontLight;
    color: $green;
    text-decoration: none;
    position: relative;
    margin: 0;
      &::after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1.5px;
        background-color: $green;
        left: 0;
        bottom: -.5rem;
      }
  }
  &__person {
    // max-height: 153px;
    margin-right: 80px;
    margin-bottom: .5rem;
    position: relative;
    &-img {
      border: 10px solid #FFF;
      border-radius: 50%;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 4px;
      right: 0;
      top: 4px;
      bottom: 0;
      border: 6px solid $darkBlue;
      box-sizing: content-box;
      border-radius: 50%;
      max-width: 121px;
      width: 100%;
      max-height: 121px;
      height: 100%;
    }
  }
  &__description {
    margin: 1rem 0 2rem;
    max-width: 70%;
    &--bigger {
      font-size: 2rem;
      margin: 50px 0 0;
    }
  }
}


/* CONTACT */

.contact {
  grid-area: contact;
  background: $darkBlue;
  color: #FFF;
  padding: 110px;
  &__header {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    position: relative;
    &::before {
      content: "";
      width: 80px;
      height: 4px;
      top: -24px;
      background: $green;
      border-radius: 8px;
      position: absolute;
    }
  }
  &__paragraph {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 50%;
    margin-bottom: 24px;
  }
  &__link {
    text-decoration: none;
  }
  &__icons {
    margin-bottom: 48px;
    &--github {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    &--linkedin {
      width: 32px;
      height: 32px;
    }
  }
  &__email {
      @include fontLight;
      color: $green;
      text-decoration: none;
      position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1.5px;
          background-color: $green;
          left: 0;
          bottom: -.5rem;
     }
  }
}

/* NAVIGATION */

.navigation {
  position: fixed;
  width: 100vw;
  height: 74px;
  background: #171f3fee;
  z-index: 2;
  &__link {
    text-decoration: none;
    color: #FFF;
  }
  &__list {
    margin: 0 auto;
    padding: 0 110px;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    min-width: 174px;
    text-align: center;
    @include fontLight;
    position: relative;
    &:hover::before {
      content: "";
      width: 1px;
      height: 100%;
      left: 0;
      background: #FFF;
      position: absolute;
    }
    &:hover::after {
      content: "";
      width: 1px;
      height: 100%;
      right: 0;
      background: #FFF;
      position: absolute;
    }
  }
}

/* PROJECTS*/

.projects {
  grid-area: projects;
  background: #F5F7FA;
  padding: 110px;
  &__header {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  &__about {
    max-width: 50%;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $darkGrey;
    margin-bottom: 4rem;
  }
}
.repos {
  width: 100%;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 24px;
  &__description--js {
    margin: 0;
    @include fontLight;
  }
  &__item--js {
    padding: 112px 48px;
    background: #FFF;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    position: relative;
    &::before {
      content: url("../assets/img/github-icon-black.svg");
      position: absolute;
      width: 48px;
      height: 48px;
      top: 48px;
    }
  }
  &__links--js{
    background: $lightGrey;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 16px 48px;
    display: flex;
    justify-content: flex-end;
  }
  &__link--js {
    text-decoration: none;
    color: $green;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2rem;
  }
  &__link--demo {
    position: relative;
    margin-right: 82px;
    display: flex;
    align-items: center;
    &::before {
      content: url("../assets/img/demo-icon.svg");
      position: absolute;
      left: -2rem;
      width: 24px;
      height: 24px;
    }
    &::after {
      content: "";
      width: 2px;
      height: 32px;
      background: $grey;
      right: -24px;
      position: absolute;

    }
  }
  &__link--github {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: url("../assets/img/code-icon.svg");
      position: absolute;
      left: -2rem;
      width: 24px;
      height: 24px;
    }
  }
  &__title--js {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

// SKILLS
.skills {
  grid-area: skills;
  background: #FFF;
  &__container {
    padding: 110px;
    display: grid;
    grid-template-rows: 66px 1fr 1fr 1fr;
    grid-row-gap: 128px;
  }
  &__header {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    border-bottom: 2px solid #cbd2d980;
    padding-bottom: 1rem;
  }
  &__section {
    display: flex;
  }
  &__subheader {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.75rem;
    width: 50%;
    position: relative;
    margin-right: 16px;
    &::before {
      content: "";
      width: 80px;
      height: 4px;
      top: -24px;
      background: $green;
      border-radius: 8px;
      position: absolute;
    }
    &--purple::before {
      background: $purple;
    }
    &--blue::before {
      background: $blue;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    columns: 2;
    column-gap: 20px;
    list-style: none;
    width: 50%;
  }
  &__item {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.5rem;
    padding-left: 21px;
    position: relative;
    color: $darkGrey;
    &::before {
      content: url("../assets/img/check-circle.svg");
      width: 18px;
      height: 18px;
      position: absolute;
      left: -8px;
    }
    &--purple::before {
      content: url("../assets/img/check-circle-purple.svg");
    }
    &--blue::before {
      content: url("../assets/img/check-circle-blue.svg");
    }
  } 
}



@media (max-width: 964px) {
  .about {
    padding: 63px;
    padding-top: 100px;
    &__header {
      // left: 155px;
      // top: 16px;
      h1 {
        font-weight: 400;
        font-size: 3rem;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: inherit;
      }
    }
    &__person {
      // margin-top: 20px;
        &-img {
          border: 4px solid #FFF;
          border-radius: 50%;
          width: 100px;
        }
        &::after {
          left: 3px;
          top: 3px;
          border: 4px solid $darkBlue;
          max-width: 86px;
          max-height: 86px;
        }
      }
    &__description {
      max-width: 100%;
  }}
  .contact {
    padding: 63px;
    &__paragraph {
      max-width: 100%;
  }}
  .navigation {
    display: none;
  }
  .skills {
    &__container {
      padding: 63px;
    }
    &__list {
      column-gap: 20px;
      list-style: none;
      width: 100%;
    }
    &__section {
      flex-direction: column;
    }
    &__subheader {
      font-size: 1.75rem;
      margin-bottom: 16px;
      width: 100%;
    }}
  .projects {
    padding: 63px;
    &__about {
      max-width: 100%;
  }}
  .repos {
    grid-template-columns: 1fr;

  }
}

@media (max-width: 618px) {
  .about {
    padding-top: 30px;
    &__content {
      align-items: center;
    }
    &__box-person {
      // width: 680px;
      // display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
    }
    &__header {
      position: static;
      line-height: 3rem;
      text-align: center;

      h1 {
        font-weight: 400;
        font-size: 2.5rem;
      }
    }
    &__person {
      margin-right: 0;
    }
    &__description {
      margin: 0 0 2rem;
      font-size: 1.25rem;
      text-align: center;
      // align-items: center;
      &--bigger {
        font-size: 1.5rem;
        margin: 20px 0 5px;
      }
    }
    &__email {
      font-size: 1.25rem;
  }}
  .contact {
    &__header {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      &::before {
        width: 50px;
      }
    }
    &__icons {
      margin-bottom: 32px;
    }
    &__email {
      font-size: 1.25rem;
    }
  }
  .main {
    border: none;
  }
  .skills {
    &__container {
      grid-row-gap: 86px;
    }
    &__header {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    &__subheader {
      font-size: 1.75rem;
      &::before {
        width: 40px;
        top: -8px;
      }
    }
    &__list {
      columns: 1;
    }
    &__item {
      line-height: 2.25rem;
      padding-left: 32px;
      &::before {
        left: 0;
      }
    }
  }
  .projects {
  &__header {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
  &__about {
    text-align: center;
    line-height: 2rem;
    color: $darkGrey;
    margin-bottom: 2rem;
  }
}
  .repos {
    &__description--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    &__item--js {
      padding: 88px 32px;
      &::before {
        width: 40px;
        height: 40px;
        top: 32px;
      }
    }
    &__links--js{
      padding: 10px 32px;
    }
    &__title--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

@media (max-width: 440px) {
  .about {
    padding: 0px 8px;
    &__content {
      @include fontLight;
      height: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      justify-content: space-around;
    }
    &__header {
      line-height: 1.8rem;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    // &__description {
    //   margin: 0 0 2rem;
    //   font-size: 1.25rem;
    //   text-align: center;
    //   // align-items: center;
    //   &--bigger {
    //     font-size: 1.5rem;
    //     margin: 20px 0 5px;
    //   }
    // }
    &__email {
      font-size: 1.1rem;
  }}
//   .contact {
//     &__header {
//       font-weight: 400;
//       font-size: 1.5rem;
//       line-height: 2rem;
//       &::before {
//         width: 50px;
//       }
//     }
//     &__icons {
//       margin-bottom: 32px;
//     }
//     &__email {
//       font-size: 1.25rem;
//     }
//   }
//   .main {
//     border: none;
//   }
//   .skills {
//     &__container {
//       grid-row-gap: 86px;
//     }
//     &__header {
//       font-size: 2rem;
//       line-height: 2rem;
//       text-align: center;
//     }
//     &__subheader {
//       font-size: 1.75rem;
//       &::before {
//         width: 40px;
//         top: -8px;
//       }
//     }
//     &__list {
//       columns: 1;
//     }
//     &__item {
//       line-height: 2.25rem;
//       padding-left: 32px;
//       &::before {
//         left: 0;
//       }
//     }
//   }
//   .projects {
//   &__header {
//     font-size: 2rem;
//     line-height: 2rem;
//     text-align: center;
//   }
//   &__about {
//     text-align: center;
//     line-height: 2rem;
//     color: $darkGrey;
//     margin-bottom: 2rem;
//   }
// }
//   .repos {
//     &__description--js {
//       font-size: 1.25rem;
//       line-height: 1.75rem;
//     }
//     &__item--js {
//       padding: 88px 32px;
//       &::before {
//         width: 40px;
//         height: 40px;
//         top: 32px;
//       }
//     }
//     &__links--js{
//       padding: 10px 32px;
//     }
//     &__title--js {
//       font-size: 1.25rem;
//       line-height: 1.75rem;
//     }
//   }
// }

// @media (max-height: ...){

// }
