@import "_variables";
@mixin fontLight {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 2rem;
}

@media (max-width: 964px) {
  .about {
    padding: 60px 63px 0;
    &__header {
      h1 {
        font-weight: 400;
        font-size: 2.8rem;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: inherit;
      }
    }
    &__person {
        &-img {
          border: 4px solid #FFF;
          border-radius: 50%;
          width: 100px;
        }
        &::after {
          left: 3px;
          top: 3px;
          border: 4px solid $darkBlue;
          max-width: 86px;
          max-height: 86px;
        }
      }
    &__description {
      max-width: 100%;
  }}
  .contact {
    padding: 63px;
    &__paragraph {
      max-width: 100%;
  }}
  .navigation {
    height: 45px;
    &__list {
      padding: 0 30px;
    }
    &__item {
      min-width: 120px;
      font-size: 1.1rem;
    }
  }
  .skills {
    &__container {
      padding: 63px;
    }
    &__list {
      column-gap: 20px;
      list-style: none;
      width: 100%;
    }
    &__section {
      flex-direction: column;
    }
    &__subheader {
      font-size: 1.75rem;
      margin-bottom: 16px;
      width: 100%;
    }}
  .projects {
    padding: 63px;
    &__about {
      max-width: 100%;
  }}
  .repos {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 618px) {
  .about {
    padding: 30px;
    &__content {
      align-items: center;
    }
    &__box-person {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__header {
      line-height: 2.5rem;
      text-align: center;
      h1 {
        font-weight: 400;
        font-size: 2.5rem;
      }
    }
    &__person {margin-right: 0;}
    &__description {
      margin: 0 0 2rem;
      font-size: 1.25rem;
      text-align: center;
      &--bigger {
        font-size: 1.5rem;
        margin: 20px 0 0;
      }
    }
    &__email {
      font-size: 1.25rem;
  }}
  .navigation {
    display: none;
  }
  .contact {
    &__header {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      &::before {
        width: 50px;
      }
    }
    &__icons {
      margin-bottom: 32px;
    }
    &__email {
      font-size: 1.25rem;
    }
  }
  .main {
    border: none;
  }
  .skills {
    &__container {
      grid-row-gap: 86px;
    }
    &__header {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    &__subheader {
      font-size: 1.75rem;
      &::before {
        width: 40px;
        top: -8px;
      }
    }
    &__list {
      columns: 1;
    }
    &__item {
      line-height: 2.25rem;
      padding-left: 32px;
      &::before {
        left: 0;
      }
    }
  }
  .projects {
  &__header {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
  &__about {
    text-align: center;
    line-height: 2rem;
    color: $darkGrey;
    margin-bottom: 2rem;
  }
}
  .repos {
    &__description--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    &__item--js {
      padding: 88px 32px;
      &::before {
        width: 40px;
        height: 40px;
        top: 32px;
      }
    }
    &__links--js{
      padding: 10px 32px;
    }
    &__title--js {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

@media (max-width: 440px) {
  .about {
    padding: 20px 8px;
    &__header {
      line-height: 1.8rem;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    &__email {
      font-size: 1.05rem;
    }
  }
  .contact {
    padding: 30px 10px;
    &__header {
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 2.25rem;
      &::before {
        width: 50px;
        height: 3.5px;
        top: -14px;
      }
    }
    &__paragraph {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-top: 14px;
    }
    &__email {
      font-size: 1.1rem;
     }
  }
  .skills {
    &__header {
      font-size: 1.7rem;
    }
    &__subheader {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-right: 0;
    }
    &__container {
      padding: 30px 10px;
      grid-row-gap: 60px;
    }
    &__section {
      padding: 0 20px;
    }
  }
  .projects {
    padding: 30px 10px;
    &__header {
      font-size: 1.7rem;
    }
    &__about {
      font-size: 1.125rem;
      line-height: 1.7rem;
    }
  }
  .repos {
    &__item--js {
      padding: 80px 28px;
      &::before {
        top: 22px;
      }
    }
    &__link--js {
      font-weight: 400;
      font-size: 1rem;
    }
    &__title--js {
      font-weight: 500;
      font-size: 1.25rem;
    }
    &__description--js {
      font-size: 1.2rem;
    }

  }
}


@media (max-height: 615px)and(max-width: 305px) {
  .about {
    &__header {
      line-height: 1.5rem;
      h1 {font-size: 1.7rem;}
      h2 {font-size: 1.2rem;}
    }
    &__description {
      margin-bottom: 6px;
      line-height: 1.7rem;
      &--bigger {
        font-size: 1.2rem;
        margin: 20px 0 0;
      }
    }
    &__email {font-size: 1.1rem;}
  }
}